*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:antiquewhite;
}

.main-container{
    width: 50%;
    background-color: rgb(240, 190, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    margin: 1rem;
}

.todos{
    margin: .3rem;
    
}

input[type="text"]{
    padding: .2rem;
    margin-left: 1rem;
    background-color: aliceblue;
    border:none;
}
button{
    padding: .2rem;
    width: 4rem;
    margin-left: 2rem;
    background-color: rgb(82, 167, 241);
    border:none;
}
button:hover{
    background-color: rgb(161, 161, 161);
    box-shadow: inset;
}

.todo{
    width: fit-content;
    padding: .4rem;
    background-color: aliceblue;
}

